*{
  text-align: center;
}
.accueil-first-block{
  background-image: url("../ressources/background-work.png");
  height: 595px;
  text-align: center;
  
}

.accueil-title-first-block{
  color: green;
  vertical-align: baseline;
}

.accueil-second-block{
  background-color: #D0C5EE;
  height: 400px;
  display: block;
  text-align: center;
}

.accueil-button-connection{
  background-color: green;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: right;
  font-size: xx-large;
  border: 0px;
  height: 10%;
  width: 10%
  
}

.accueil-horizontal-info {
  display: flex;
  
}

.to-center{
  text-align: center;
  
}

/* 
.accueil-horizontal-info{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.accueil-text-description{
  float: center;
  width: 50%;
}

.accueil-phone-img{
  float: left;
  padding-left: 25%;
}

.acceuil-computer-img{
  float: right;
  padding-right: 25%;
} */