body{
	background-color: #D0C5EE;
}

*{
	font-size: medium;
	font-weight: bold;
	font-family: georgia;
	
	
}

#entete{
	display: flex;
	background-color: white;
	margin: 0px;
}

.logo{
	width: 40px;
	height: 40px;
	padding: 3px 3px 0px 3px;
}

.liste{
	display: flex;
	list-style-type: none;
}

.bienvenue{
	width: 850px;
	padding: 0px;
	margin: 0px;

}

.profil, .donnees{
	width: 150px;
	padding: 0px 3px 0px 0px;
	margin: 0px;
	text-align: right;
	background-color: white;
	border: none;
	
	}

#info{
	display: flex;
	height: 500px;

}



#choix{
	width: 150px;
	height: 80px;
	margin-top: 10%;
	text-align: center;
	margin-left: 10%;

}



.bouton{
	background-color: black;
	color: white;
	border-radius: 5px 5px 0px 0px;
	height: 50%;
	border: none;
	width: 100%;
}

.boutonMdP{
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	height: 50%;
	border: none;
	width: 100%;
}

.boutonMdP:hover{
	background-color: black;
	color: white;
}


#bloc{
	background-color: white;
	width: 40%;
	margin: 7% 0% 0% 7%;
	padding: 10px;
	border-radius: 20px;
	height: 400px;
	text-align: center;
}

input{
	font-weight: normal;
	width: 40%;
}


.MdP{
	background-color: #D0C5EE;
	text-align: center;
	border: #D0C5EE;
	border-radius: 10px;
	height: 30px;
	font-weight: inherit;
	
}

/* .nom{
	padding-left: 100px;
} */
/* 
.prenom{
	padding-right: 80px	;
} */