*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    background-color:#f1e9dc;
    border: 1px solid black;
    
}

.footer-l1{
    display: flex;
    flex-direction: row;
}
.footer-c1{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 20px;
    
}
.footer-lj{
    color: black;
    display: block;
    text-align:left;
    text-decoration: none;
    
}
.footer-LJ{
    padding: 10px;
}
.footer-c2{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 20px;
}
.jiacu{
    color: black;
    text-decoration: none;
    font-weight:1000;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.footer-l2{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}
.footer-l2-wz{
    font-size: 20px;
    padding-left: 20px;
    color: black;
    margin-top: 10px;
}
.footer-l2 i{
    padding-left: 30px;
    font-size: 2rem;
    color: black;
    padding-top: 8px;
    padding-right: 10px;
}


.footer-l3{
    display: flex;
    flex-direction: row;
}
.l3-left{
    float: left;
    width: 380px;
    padding-left: 20px;
    color: black;
}  
.l3-right{
    position: absolute;
    right: 20px;
}
.l3-right-LJ{
    display: flex;
    flex-direction: row;
}
.l3-right-lj{
    display: inline-block;
    text-align: center;
    padding-left: 40px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 5px;
}
