*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    background-color:#87B748;
    
}
.footer, a{
    text-decoration: none;
}
.l1{
    display: flex;
    flex-direction: row;
}
.c1{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    
}
.c1, a{
    color: black;
    display: block;
    text-align:left;
    
}
.c1, p{
    padding: 10px;
}
.c2{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    
}
.c2, a{
    color: black;
    display: block;
    text-align:left;
    
}
.c2, p{
    padding: 10px;
}
.jiacu{
    font-weight:1000;
    font-size: 20px;
    margin-bottom: 20px;
}

.l2{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    
}
.l2 i{
    padding-left: 30px;
    font-size: 2rem;
    color: white;
    padding-top: 8px;
    padding-right: 10px;
}


.l3{
    display: flex;
    flex-direction: row;
}
.left{
    float: left;
    width: 380px;
    padding-left: 20px;
    color: white;
}  
.right{
    position: absolute;
    right: 20px;
}
.right p{
    display: flex;
    flex-direction: row;
}
.right a{
    display: inline-block;
    text-align: center;
    padding-left: 40px;
    font-size: 20px;
    color: white;
    
}


