@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 600px) {
   
header{
    height: 110px;
    background-color: #f1e9dc;
    border: 1px solid black;
    padding: 10px;
}    

a{
    text-decoration: none;
    color: black;
}
li{
     float: left;
     width: 14%;
     text-align: center;
     list-style-type: none;
    }

    img{
        width: 90px;
        height: 90px;
    }
}