#corps{
	background-color: #D0C5EE;
}

#applilud{
	margin: 2% 1%;
	}	

.texte{
	text-align: justify;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 0.5%;

}

.titre1, .titre3{
	background-color: #E1DBD2;
	border-style: solid;
	border-width: 1.5px;
	padding-left: 5px;
	border-radius: 10px;

}
.titre3{
	width: 210px;
	margin: 1% 0% 1% 2%;
}

.titre1{
	width: 330px;
	margin: 2% 0% 2% 0%;
}
.liste{
	margin-left: 8%;
}