
.container{
    
    background-color: #D0C5EE;
    height: 600px;
    width: 100%;
    text-align: center;
}


.capteursContainer{
    width: 400px;
    height: 100px;
    background-color: #E6DDCA;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 10px -7px; 
    
    
    border-radius: 30px;

}

.sensorName{
    padding: 1%;
}

.titleSensorDescription{
    padding: 1%;
}

.description{
    text-align: center;
    padding: 2%;
}

.smallerContainer{
    display: grid;
    padding: 3%;
    text-align: center;
    gap: 10%;

}

.firstcontainer{
    grid-column: 1/2;
    grid-row: 1;
}

.seccontainer{
    grid-column: 2/2;
    grid-row: 1;
}


.thirdcontainer{
    grid-column: 1/2;
    grid-row: 2;
}

.fourthcontainer{
    grid-column: 2/2;
    grid-row: 2;
} 

.fifthcontainer{
    grid-column: 1/1;
    grid-row: 3;
}