/* Registration ////////////////////////////////////////////////////////////////// */

.limiter1 {
    width: 100%;
    margin: 0 auto;
}

.container1 {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    background-position: left;
  }

.wrap1 {
    width: 520px;
    height: 100%;
    padding : 30px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
  }


  .img2{
    width : 65px;
    height : 65px;
    display: inline-block;
    vertical-align: middle;

  }

  /* Button ////////////////////////////////////////////////////////////////// */

  .btn {
    border: none;
    background-color: #D0C5EE;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 8px;
    width: 120px;
    margin: 5px;
    float: right;       
 }

 .btnToLogin{
   font-size: xx-small;
 }

button:hover {
    cursor: pointer;
 }

/* Input ////////////////////////////////////////////////////////////////// */
.inputgroup{
  text-align: center;
}
 /* .inputgroup {
    position: relative;
    margin-bottom: 8px;
  }
  .input{
    text-align: left;
    width: 20%;
    line-height: 32px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 13px;
    border-color: black;
    margin-bottom: 8px;
  
  }
  .input2{
    text-align: left;
    width: 50%;
    line-height: 32px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 13px;
    border-color: black;
    margin-bottom: 8px;
  } */

  /* Form ------------------------------------------------------------------ */

  hr{
     color: grey;
    border: 1px solid grey;
    margin-bottom: 10px;
}
  .registration{
      text-align: center;
  }
  .headwrap1{
    text-align: center;
    display: inline-block;
  }
  a{
      text-decoration: none;
  }
  body{
  margin: 0;
  padding: 0;
} 
